.sidebar-container{
    position: relative;
    grid-area: navbar;
    z-index: 5;   

    aside{
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        border-radius:  10px;
        width: 250px;
        margin: 15px;
        height: calc(100% - 30px);

        .link-box{
            text-decoration: none;
            display: flex;
            color: #7E84A3;
            width: 100%;
            font-size: 14px;
            font-weight: 600;

            .aside-link{
                padding: 15px;
            }

            .aside-icon {
                color: #7E84A3;
                font-size: 20px;
                padding-right: 10px;
                img{
                    width: 20px;
                    filter: invert(61%) sepia(9%) saturate(920%) hue-rotate(193deg) brightness(85%) contrast(93%);
                    opacity: 0.7;
                }
            }

            &:hover{
                background-color: #F2F7FF;
                color: black !important;
            }
        }

        .link-box.active{
            color: #386CB5;
            background-color: #F2F7FF;

            &::before{
                content: "\00a0";
                display: inline-block;
                background-color: #487FCC;
                width: 5px;
    
                
            }
            
            .aside-icon {
                color: #000000;
                font-size: 20px;
                padding-right: 10px;
                img{
                    width: 20px;
                    filter: invert(1) ;
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        left: 0;
        top: 0;
        transition: all ease 1s;
    }
}