@import "../../assets/scss/mixin";

#login-form{
    
    @include mutedContent();

    .rem-forget{
        #rememberCheck:checked {
            border-color: #00000033 !important; 
            background-color: #08D152 !important;
        }
        
    }

    button[type="submit"]{
        width: 100%;
        @include blueRadientBtn()
    }

    #register{  
        @include yellowRadientBtn()
   
    }
}