#user-dropdown{
    cursor: pointer;
    position: relative;
    padding-right: 10px;

    #user-name{
        color: white;
        font-size: 13px !important;
        margin: auto 7px;
        overflow-x: hidden;
        display: inline-block;
        flex-basis: auto;
    }

    #user-options{
        position: absolute;
        overflow: hidden;
        top: 25px;
        left: 0;
        background-color: white;
        margin-top: 10px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 4px;
        width: 100%;

        a{
            display: block;
            padding: 10px;
            border-bottom: 1px solid #f0f0f0;
            font-size: 12px !important;
            color: black;
            text-decoration: none;
        
            &:hover{
                background-color: #F3F4F9;
            }
        }

        @media screen and (max-width: 576px){
            position: absolute;
            top: 25px;
            left: -90px;
            width: 150px;     
        }  
    }  

    @media screen and (max-width: 576px) {
        width: fit-content;
    }   
}