#forgot-pwd-form{
    font-size: 13px;

    .content{
        text-align: left;
        color: #000000;
        opacity: 0.5;
        @media screen and (min-width: 1700px) {
            font-size: 18px;
        }
    }
}